*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: poppins,sans-serif;
}
#links{
    display: flex;
    justify-content: space-between;
}
.nav
{
    position: relative;
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

ul{
    list-style: none;
    display: flex;
    width: 20rem;
    margin-left: 35rem;
    margin-right: 2rem;
}
li{
    display: inline-block;
    margin: 0.625rem;
    border-radius: 1.25rem;
}

a{
    text-decoration: none;
    padding: 0.625rem;
    color: #000;
    font-weight: 600;


}
.nav button{
    width: 7rem;
    margin-left: 10rem;
    outline: none;
    border-radius: 0.6rem;
    border: 1px #6741f2 solid;
    font-size: 1rem;
}
#sign{
    background-color: #6741f2;
    color: #fff;
    margin-left: 3rem;
    border: none;
}
#sign:is(:hover,:active){
    outline-offset: 3px;
    scale: 1.05;
}
#log{
    font-weight: 600;
    background-color: transparent;
    box-shadow: -2px -2px 2px -2px #6741f2,2px 2px 2px -2px #6741f2;
}
a:hover {
    color: #6741f2;
}
#log:hover{
    background-color: #6741f2;
    transition: 0.5s ease-in;
    color: #fff;
    border: none;
}
#ion{
    display: inline-block;
    font-size: 2rem;
    margin: 0px 10px;
    padding: 0px 5px 0px 5px;

}
#ion{
    display: none;
}
span{
    color: #6741f2;
}
.left {
    width: 45%;
    float: left;
    text-align: justify;
    margin: 50px 0px 10px 130px;
    padding: 10px ;
}
.left p{
    margin: 10px 0px 15px;
}
.left h1{
    font-size:35px;
}
.left button{
    outline: none;
    border: 1px solid #6741f2;
    background-color: #6741f2;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    color: #fff;
    box-shadow: -2px -2px 2px -2px #6741f2,2px 2px 2px -2px #6741f2;

}
.left a{
    color:#6741f2 ;
    margin-left: 20px;
}
.right{
    width: 45%;
    float: right;
    padding: 20px ;
    margin: 49px 0px 10px 10px;
    text-align: justify;

}
.right h1{
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;

}
.input{
    margin: 5px;
    position: relative;
    width: 250px;
    border-bottom: 2px solid black;
}
.input label{
    position: absolute;
    top:-15px;
}
.input input{
    border: none;
    outline: none;

}
#check {
    margin: 0px 3px 0px 0px ;
}
.right button{
    width: 250px ;
    padding: 10px ;
    margin: 15px;
    text-align: center;
    background-color: #6741f2;
    outline: none;
    border: none;
    box-shadow: -2px -2px 2px 2px #6741f2;
    border-radius: 10px ;
    color: #fff;
    font-size: 15px;
}